.notification {
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    background-color: lightgrey;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 20px;
}

.notification-success {
    color: #0A3622;
    border-color: #0A3622;
    background: #D1E7DD;
}

.notification-warning {
    color: #664D03;
    border-color: #664D03;
    background: #FFF3CD;
}

.notification-error {
    color: #90151C;
    border-color: #90151C;
    background: #F8D7DA;
}

p {
    margin: 0
}