* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  margin: 100%;
  background-color: #FFF;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

button {
  padding: 2px 5px;
}

.blog {
  border: 1px solid black;
  padding: 5px 10px;
}
.blog:not(:last-of-type) {
  margin-bottom: 10px;
}

.notification {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 20px;
}

.notification-success {
  color: green;
  border-color: green;
}

.notification-warning {
  color: red;
  border-color: red;
}
