{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "off",
  "singleAttributePerLine": false,
  "overrides":
    [
      { "files": "*.{cmp,page}", "options": { "parser": "html" } },
      { "files": ".*hbs", "options": { "printWidth": 120 } }
    ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-jsdoc"]
}
